@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Horizon";
  src: url("/fonts/bold.otf");
  format: ("otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Horizon Outline";
  src: url("/fonts/bold-outline.otf");
  format: ("otf");
  font-weight: bold;
  font-style: normal;
}

.noise::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  /* you can control opacity of noise  */
  opacity: 0.08;
  z-index: 1000;
  pointer-events: none;
  background: url(/noise.gif);
}
